nav{
    background-color: gray;
    padding: 10px;
}
nav ul{
    text-align: center;
    font-size: 1.2em;
}
nav ul li {
    list-style-type:none ;
    background-color: rgb(163, 164, 165);
    display: inline;
    padding: 15px;
    margin: 5px;
    border: 2px solid  lightcoral;
    border-radius: 70px;

}
nav ul li a {
    color: white;
    text-decoration: none;

}
nav ul li:hover
{background-color: lightcoral}

header {
background-color: black;
padding: 10px;
}
footer {
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
}
body{
    font-family: Verdana;
    margin: 0;
}
.pagetop {
    text-align: center;
    border: 5px solid black;
    margin: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
.imghealthy
{

    width: 30%;
}


footer {
    background-color:gray;
    clear: both;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}
